.git
node_modules
**/node_modules
.env
.idea
README.md
biome.json
.nvmrc
.gitignore
**/.turbo
**/*.js

packages/api-client/dist
packages/types/dist

apps/api/dist
apps/app/.expo
apps/app/.vscode
apps/backoffice/.nitro
apps/backoffice/.output

.github

apps/api/Dockerfile
apps/web/Dockerfile